@import url('https://fonts.googleapis.com/css?family=Lato:300,300i|Playfair+Display:700&display=swap');

body{
background: #fafafa;
font: 300 18px/1.8 Lato, sans-serif;
color: #171717;

}

/* Layout */
.ba-container{
	max-width: 1600px;
	padding: 130px 100px; 
	
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
.ba-post{
	background: #ffffff;
	padding: 92px 121px 135px 122px;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
	position: relative;
	letter-spacing: 1.2px;
	margin: 0;
}
.ba-title{
font: 200 42px/1.7 'Playfair Display', serif;
color: #171717;
letter-spacing: 0.2px;
margin: 28px 0 7px;
}
p{
	margin-bottom: 43px;
	line-height: 1.8;
	color: #969696;

}
article p:first-of-type:first-letter{
	vertical-align: bottom;
	font-size: 110px;
	float: left;
	margin-right: 20px;
	line-height: 0.8;
	color: black;
	font-family: 'Playfair Display', serif;
	font-weight: 500;
}
.ba-end {
	font: italic 300 24px/1.2 Lato, sans-serif;
	letter-spacing: 1.7px;
}
.ba-end:before{
	content: '"';
	font-size: 40px;
	padding: 25px 15px;
}
.ba-button{
	border: 2px solid #edae6d;
	color: #edae6d;
	background: #ffff;
	padding: 16px 80px;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	font-weight: 900;
}
.ba-button:hover{
	background: #edae6d;
	color: #ffffff;
}
